# appveyor file
# http://www.appveyor.com/docs/appveyor-yml
image:
  - Visual Studio 2015

init:
  - git config --global core.autocrlf input

cache:
  - C:\Users\appveyor\.node-gyp
  - '%AppData%\npm-cache'

# what combinations to test
environment:
  matrix:
    - nodejs_version: 8
    - nodejs_version: 6

install:
  - pip install cpplint
  - ps: Install-Product node $env:nodejs_version x64
  - npm install

build: off

test_script:
  - node --version
  - npm --version
  - cmd: npm test

deploy_script:
  - if %APPVEYOR_REPO_BRANCH%==master (npm run prebuild -- -u %GITHUB_TOKEN%)
